PORT=3001
FRONTEND_URL=http://localhost:5173
PAYTM_MERCHANT_ID_DEV=
PAYTM_MERCHANT_KEY_DEV=
PAYTM_WEBSITE_DEV=WEBSTAGING
PAYTM_CHANNEL_ID_DEV=WEB
PAYTM_INDUSTRY_TYPE_DEV=Retail
GEMINI_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
